<div class='control-group'>
  <div class='control-label'>
    <label for='entity'>Server Entity</label>
    <div class='controls'>
      <input type='text' class='span4' name='entity' placeholder='https://example.com' value='<%= entity %>' />&nbsp;
      <input type='submit' class='btn btn-success' value='Authenticate' />
    </div>
  </div>
</div>
