<!DOCTYPE html>
<html>
  <head>
    <title>Tent Migrate</title>
    <link rel='stylesheet' type='text/css' href='<%= asset_path('application.css') %>' />
  </head>

  <body>
    <div class='navbar'>
      <div class='navbar-inner'>
      </div>
    </div>

    <div class='container'>
      <%= yield %>
    </div>

    <script type='application/javascript' src='<%= asset_path('application.js') %>'></script>
  </body>
</html>
